---
---


@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";



/**
 *  #### HERO BLOCKS ####
 */
.hero-block {
  position: relative;
  width: 100%;
  line-height: $base-line-height * $base-font-size * 1.05;
  background-color: $thistle;  
}





