---
---


@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";



/**
 *  #### HERO BLOCKS ####
 */
.hero-header {
  position: relative;
  width: 100%;
  line-height: $base-line-height * $base-font-size * 1.05;
  background-color: $thistle;
  padding: 2rem;
  margin: 0;
  text-align: center;
}


.post-meta.subtitle {
  font-weight: 500;
}


